button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	background: #fff;
	color: #000;
	font-family: $font__pre;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;

	&:hover {
		color: $color__text-nav;
	}

	&:active,
	&:focus {
		color: $color__text-nav;
	}
}