.site-header {
	background-color: $color__background-evergreen;
	background-position: center 0px, center;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat 0 0px;
	width: 100%;
	height: 280px;
	margin-bottom: 2em;
}

.site-logo a {
	position: absolute;
	z-index: 10;
	top: 17.5em;
	left: 2em;
	display: block;
	width: 3em;
	height: 3em;
	background: transparent;
	color: white;
	text-decoration: none;
	outline: 0;
	&:hover,
	&:focus,
	&:active {
		transform: scale(1.25);
		outline: 0;
	}
}

.site-firstletter {
	font-family: $font__heading;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	line-height: 1.3em;
}

.site-logo a:hover .site-firstletter,
.site-logo a:focus .site-firstletter {
	background: white;
	color: black;
}

.site-branding { 
	text-align: center;
}

.site-title {
	margin: 1em;
	padding-top: 1em;
	font-size: 3em;
	font-family: $font__heading;
	font-weight: bold;
	line-height: 1.3em;
	color: $color__text-header;
	transform-text: uppercase;
	word-break: break-word;
	text-decoration: none;
}

.menu-header-search input[type=submit] {
    clip: auto !important;
    right: .75em !important;
    top: 1em !important;
    display: block !important;
    text-indent: -999px !important;
    text-align: center !important;
    height: 1em !important;
    width: 1em !important;
    padding: 1em !important;
    background-color: transparent !important;
    box-shadow: none !important;
    left: auto !important;
    position: absolute;
    border: none;
}

.menu-header-search input[type=search]::before {
    left: auto;
    right: 0.75em;
    background-color: rgb(0, 165, 191);
    top: 1em;
    color: rgb(255, 255, 255);
    line-height: 0.9;
    padding: 0.5em !important;
    border-radius: 100% !important;
}

a {
	text-decoration: none;
	color: inherit;
}

.site-title a:hover,
.site-title a:focus,
.site-title a:visited {
	text-decoration: none;
	color: inherit;
	outline: 0;
}

.site-title::after {
	display: block;
	content: "";
	margin: 0.25em auto 0;
	width: 50%;
	opacity: 0.5;
}

@media screen and (max-width: 50em) {
	.site-title {
		font-size: 2em;
		padding-top: 2em;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 25em) {
	.site-title {
		font-size: 1.50em;
	}
	.site-logo a {
		top: 17.5em;
	}
}

.site-description {
	//margin: 2em 2em 3em;
	font-size: 110%;
	color: $color__text-header;
	font-family: $font__title;
}

@media screen and (min-width: 50em) {
	.site-logo a {
		top: 17em;
	}
}

