.site-header {
	background-color: $color__background-header;
	background-position: center 0px, center;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat 0 0px;
	width: 100%;
	height: 300px;
}

.site-logo {
	position: relative;
}

.site-logo a {
	position: absolute;
	z-index: 10;
	top: 1em;
	left: 1em;
	display: block;
	width: 2em;
	height: 2em;
	background: black;
	border: 2px solid white;
	color: white;
	text-decoration: none;
}

.site-logo a:hover,
.site-logo a:focus {
	outline: 2px solid white;
}

.site-branding { 
	text-align: center;
}
.site-title {
	margin: 1.7em 1em 0;
	padding-top: 1em;
	font-size: 2.4em;
	font-family: $font__heading;
	font-weight: bold;
	line-height: 1.3em;
	color: $color__text-header;
	transform-text: uppercase;
	word-break: break-word;
}
a {
	text-decoration: none;
	color: inherit;
}
.site-title a:hover,
.site-title a:focus,
.site-title a:visited {
	text-decoration: none;
	color: inherit;
}

.site-title::after {
	display: block;
	content: "";
	margin: 0.25em auto 0;
	width: 4em;
	opacity: 0.5;
}

@media screen and (max-width: 30em) {
	.site-title {
		font-size: 2em;
	}
}

.site-description {
	margin: 2em 2em 3em;
	font-size: 110%;
	color: $color__text-header;
	font-family: $font__title;
}