.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	height: 3.5em;
	font-family: $font__pre;
	font-weight: 300;
	font-size: 1em;
	background-color: $color__background-evergreen;
	text-transform: uppercase;
	margin-top: 8.5em;
	ul {
		display: none;
		list-style: none;
		margin-left: 0;
	}

	li {
		position: relative;
	}

	ul ul {
		display: none;
		margin-left: 0.8em;
	}

	a {
		position: relative;
		display: block;
		padding: 0.8em 1em;
		font-weight: 400;
		text-decoration: none;
		line-height: 1.6em;
		color: $color__text-header;
	}

	a:hover,
	a:focus,
	a:active {
		background: $color__text-nav;
	}

	a,
	ul ul li:lastchild a {
		border-bottom: 1px solid white;
	}

	ul li:last-child a {
		border-bottom: none;
	}

	ul .toggled-on {
		display: block;
	}

	li {
		border-top: 1px solid #eaeaea;
		border-top: 1px solid rgba(51, 51, 51, 0.1);
		position: relative;
	}

	.current-menu-item > a,
	.current-menu-ancestor > a,
	.current_page_item > a,
	.current_page_ancestor > a {
		font-weight: 700;
		color: $color__text-nav;
	}

	.nav-menu > ul > li:first-child,
	.nav-menu > li:first-child {
		border-top: 0;
	}

	.menu-item-has-children > a,
	.page_item_has_children > a{
		padding-right: 48px;
	}

	@media screen and (max-width: 50em) {	
		.nav-menu > ul > li:first-child,
		.nav-menu > li:first-child {
			margin-top: 2em;
		}
	}

	@media screen and (max-width: 25em) {
		.main-navigation {
			margin-top: 10.5em;
		}
	}
}
.no-js .main-navigation ul ul {
	display: block;
}

.dropdown-toggle {
	box-sizing: content-box;
	height: 27px;
	width: 27px;
	padding: 1px;
	position: absolute;
	text-transform: lowercase; /* Stop screen readers to read the text as capital letters */
	top: 12px;
	right: 6px;
	font-family: 'FontAwesome';
	background-color: $color__background-evergreen;
	content: "";
	color: #fff;
	text-transform: lowercase; /* Stop screen readers from reading the text as capital letters */
	text-decoration: none;
	outline: none;
	border-radius: 5px;
}

.dropdown-toggle:after {
	content: "\f078";
	font-size: 14px;
	line-height: 27px;
	position: relative;
	top: 0;
	left: 0;
	width: 27px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: $color__text-nav;
	color: $color__background-evergreen;
}

.dropdown-toggle.toggle-on:after {
	content: "\f077";
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.menu-toggle {
	position: absolute;
	z-index: 10;
	top: 17.5em;
	right: 3em;
	display: block;
	font-size: 1em;
	text-transform: uppercase;
	color: $color__text-header;
	background-color: $color__background-evergreen;
	transition: all ease-out 400ms;
	content: "\f077";
}

.menu-toggle:active {
	text-decoration: none;
	outline: none;
}

.menu-toggle.hide {
	bottom: 10em;
}

/* Make sure the button doesn't hide when menu is open. */

.toggled .menu-toggle.hide {
	bottom: 1em;
}


.menu-toggle:hover,
.menu-toggle:focus {
	text-decoration: none;
	outline: none;
}

@media screen and (min-width: 50em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/* Make sure the button doesn't hide when menu is open. */

.toggled .menu-toggle.hide {
	bottom: 1em;
}


.menu-toggle:hover,
.menu-toggle:focus {
	text-decoration: none;
}

.nav-menu {
	padding: 1em;
	margin-bottom: 3em;
	background-color: $color__background-evergreen;
}

.main-navigation.toggled ul {
	max-height: calc(100vh - 8em);
	overflow-y: auto;
}

.main-navigation.toggled ul ul {
	display: none;
}

.main-navigation.toggled ul ul.toggled-on,
.main-navigation.toggled ul ul.toggled-on > ul {
	display: block;
}


/* Horizontal menu on wide screens */
@media screen and (min-width: 50em) {
	
	/* Position the menu in the header */
	.main-navigation,
	.main-navigation.toggled {
		position: relative;
		height: 4em;
		max-width: 100%;
		margin: 0 auto;
		margin-top: 7em;
		margin-bottom: 2em;
		padding: 0 3.5em;
		background-color: $color__background-evergreen;
	}
	
	.nav-menu {
		padding: .3em 0 0 0;
		background-color: transparent;
	}
	
	.main-navigation ul,
	.main-navigation.toggled ul {
		max-height: none;
		padding-left: 0;
		text-align: center;
	}
	
	.main-navigation.toggled ul {
		overflow-y: visible;
	}
	
	/* Display the menu items in a horizontal order */
	.main-navigation li {
		display: inline-block;
	}
	
	/* Add an outline to the drop-down menus */
	.main-navigation ul ul {
		outline: 1px solid #333;
	}
	
	/* Left-align drop-down menu items */
	.main-navigation li li {
		display: block;
		text-align: left;
	}
	
	.main-navigation a,
	.main-navigation ul ul li:last-child a {
		border-bottom: none;
	}
	
	/* Add an outline on hovered and focused menu items */
	.main-navigation a:hover,
	.main-navigation a:focus {
		background: transparent;
		color: #fff;
		text-decoration: none;
	}
	
	/* Create hover and focus contrast on drop-down items */
	.main-navigation li li a:hover,
	.main-navigation li li a:focus {
		background: #eee;
		color: #000;
		text-decoration: none;
	}
	
	/* Position drop-down menus absolutely */
	.main-navigation ul ul.toggled-on {
		position: absolute;
		width: 12em;
		display: block;
		z-index: 10;
		margin-left: 0;
		background: #000;
	}
	
	.main-navigation ul ul ul.toggled-on {
		position: relative;
	}
	
	/* Indent 3rd level drop-down menus */
	.main-navigation ul ul ul a {
		padding-left: 2em;
	}
	
	/* Simplify the drop-down toggle */
	.dropdown-toggle {
		top: 11px;
		right: 12px;
		border: none;
	}
	
	.dropdown-toggle::after {
		line-height: 27px;
		width: 27px;
	}
	
}