.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	font-family: $font__pre;
	font-weight: 300;
	font-size: 1em;
	background-color: $color__background-evergreen;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		position: relative;
	}

	ul ul {
		display: none;
		margin-left: 0.8em;
	}

	a {
		position: relative;
		display: block;
		padding: 0.8em 1em;
		font-weight: 400;
		text-decoration: none;
		line-height: 1.6em;
		color: $color__text-header;
	}

	a:hover,
	a:focus,
	a:active {
		background: $color__text-nav;
	}

	a,
	ul ul li:lastchild a {
		border-bottom: 1px solid white;
	}

	ul li:last-child a {
		border-bottom: none;
	}

	ul .toggled-on {
		display: block;
	}

	li {
		border-top: 1px solid #eaeaea;
		border-top: 1px solid rgba(51, 51, 51, 0.1);
		position: relative;
	}

	.current-menu-item > a,
	.current-menu-ancestor > a,
	.current_page_item > a,
	.current_page_ancestor > a {
		font-weight: 700;
	}

	.nav-menu > ul > li:first-child,
	.nav-menu > li:first-child {
		border-top: 0;
	}

	.menu-item-has-children > a,
	.page_item_has_children > a{
		padding-right: 48px;
	}
}
.no-js .main-navigation ul ul {
	display: block;
}

.dropdown-toggle {
	box-sizing: content-box;
	height: 27px;
	width: 27px;
	padding: 0;
	position: absolute;
	text-transform: lowercase; /* Stop screen readers to read the text as capital letters */
	top: 12px;
	right: 6px;
	font-family: 'FontAwesome';
	background-color: transparent;
	content: "";
	color: #fff;
	text-transform: lowercase; /* Stop screen readers from reading the text as capital letters */
}

.dropdown-toggle:after {
	content: "\f078";
	font-size: 14px;
	line-height: 27px;
	position: relative;
	top: 0;
	left: 1px;
	width: 27px;
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
	background-color: $color__text-nav;
	color: $color__background-evergreen;
}

.dropdown-toggle.toggle-on:after {
	content: "\f077";
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
