.comments-area {
	margin: 4em 0;
}

@media screen and (min-width: 40em) {
	.comments-area {
		margin: 4em 1em;
	}
}

.comments-title {
	margin-bottom: 2em;
	font-size: 2em;
	text-align: center;
}

.comment-list {
	padding: 0;
	margin: 0;
}

.comment-list,
.comment-list ol {
	list-style-type: none;
}

.comment-body {
	border-bottom: 1px solid $color__post-content;
	margin-bottom: 3em;
}

.comment-meta {
	position: relative;
	margin-left: 70px;
	font-family: $font__pre;
	font-style: italic;
	font-size: 80%;
	a {
		text-decoration: none;
		::hover,
		::focus {
			border-bottom: 2px solid #000;
		}
	}
}

.comment .avatar {
	position: absolute;
	left: -70px;
	top: -5px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

@media screen and (min-width: 30em) {
	.children {
		margin-left: 2em;
	}

	.comment-meta {
		margin-left: 80px;
		font-size: 90%;
	}

	.comment .avatar {
		top: -7px;
		left: -80px;
		width: 60px;
		height: 60px;
	}

	.comment-content {
		margin-left: 80px;
	}
}

@media screen and (min-width: 50em) {
	.children {
		margin-left: 3em;
	}

	.comments-area {
		margin: 4em 3em;
		font-size: 1.1em;
	}

	.comment-meta {
		margin-left: 90px;
	}
	.comment .avatar {
		top: -8px;
		left: -90px;
		width: 70px;
		height: 70px;
	}
	.comment-content {
		margin-left: 90px
	}

}

.children {
	margin-left: 1em;
	padding-left: 0;
}

.comment-meta {
	margin-top: 0.2em;
	padding-bottom: 0.5em;
	font-size: 0.8em;
	line-height: 1em;
	a {
		color: $color__caption-text2;
	}
	a:hover,
	a:focus {
		border-color: $color__post-content;
	}
}

.reply {
	margin-bottom: 1.5em;
	text-align: right;
	a {
		display: inline-block;
		padding: 0.5em 1.4em;
		font-family: $font__pre;
		font-size: 85%;
		color: #333;
		line-height: 1.3em;
		text-decoration: none;
		border: 1px solid $color__post-content;
		:hover,
		:focus {
			background: #000;
			color: #fff;
			border-color: #000;
		}
	}
}

.comment-author {
	font-size: 1.4em;
	line-height: 1.3em;
}

.says {
	font-size: 80%;
}

.comment-content {
	ol {
		list-style-type: decimal;
	}
	a {
		word-wrap: break-word;
	}
}
.bypostauthor {
	display: block;
}
