.site-main {
	font-size: .8em;
	line-height: 1.6em;
	margin: 1.4em;
}

@media screen and (min-width: 30em) {
	.site-main {
		margin: 1.8em;
	}
}

@media screen and (min-width: 40em) {
	.site-main {
		font-size: 1em;
		color: #000;
	}
}

@media screen and (min-width: 57em) {
	.site-main {
		max-width: 45em;
		margin: 1.8em auto;
	}
}
