.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.entry-meta {
	padding: 2em 0;
	font-family: $font__main;
	font-size: 95%;
	font-style: italic;
	text-align: center;
	background: #eee;
}

.author-avatar {
	height: 50px;
	width: 50px;
	margin: 0 auto 1em;
	img {
		border-radius: 50%;
	}
}

@media screen and (min-width: 50em) {
	.has-avatar {
		display: inline-block;
		text-align: left;
		width: 20em;
	}

	.author-avatar {
		height: 70px;
		width: 70px;
		float: left;
		margin-right: 1.5em;
		margin-bottom: 0;
	}
}	

.byline,
.posted-on,
.entry-meta .comments-link {
	display: block;
	padding: 0;
}

.entry-meta a {
	font-weight: 700;
}